body {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: #e6a1ac;
 font-size: 30px;
 text-align: center;
 background-color: #645b5b;
 
}

header {
    color:#dfe5eb;
}

nav {
   text-align:right; 
}


