/*Body*/

body {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: #e6a1ac;
 font-size: 20px;
 text-align: center;
 background-color: #574f4f;
 padding: 0px;
 
}

/*Header*/

header {
    color:#dfe5eb;
    background-color: #3d3b3b;
    height:400px;   
    
}


/*Navigation*/

.navigation {
    overflow:hidden;
       
 }

 .navigation a {
    float:left;
    color:#e6a1ac;
    padding:12px 15px;
    text-decoration:none;
    
 }


.dropdown {
    float: left;
    overflow: hidden;
 }

.dropdown .dropbtn{
    border: none;
    font-size: inherit;
    background-color: inherit;
    font-family: inherit;
    color:#e6a1ac;
 }

 .navigation a:hover, .dropdown:hover .dropbtn {
    background-color:#645b5b;
 }

.dropdown-content {
    display:none;
      
 }

 /*end of Navigation*/

 /*h1 - Header*/

.h1grid{
    position:relative;

}

/*Profile Image*/

#profilepic {
    width:200px;
    height:220px; 
   
}

/*end of Header*/


/*Section - About me*/

#aboutme {
    display:flex;
    flex-direction: column;
       
}

/*Section:projects*/ 


#projects {
    background-color:#574f4f;
}

.card {
    position:relative;
    width: 100%;
    padding:20px 10px ;
    background-color:#645b5b;
    
}


#projects ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
        
 }

.image {
    width:370px;
    height:250px;
    margin:auto;    
}

.overlay-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width: 100%;
    opacity:0;
    transition: 0.5s ease;
    background-color:#3d3b3b;
  
}

.card:hover .overlay-card{
    opacity: 0.9;
}

.overlay-text {
    color:#e6a1ac;
    position:absolute;
    top:40%;
    left:40%;
    text-align:center;
}


.card-content {
    background-color:#645b5b;
    width:105%;
    
}

#overlay-text1 {
    color:#e6a1ac;
    position:absolute;
    top:50%;
    left:50%;
    text-align:center;
}


/*end of Projects*/

/*Section - Resume*/
 #Resume {
    background-color:#645b5b;
    color:#dfe5eb; 
 }

/*Section - Contact*/

 #contact {
    background-color:#645b5b;
    color:#dfe5eb;
      
 }

 #contact-name{
    text-align:left;
    padding-top: 30px;
    padding-left: 30px;
    
 }

 #contact-line{
    height: 0.05rem;
    width:100%;
    background-color:#dfe5eb;
 }

 .contact-icons{
    list-style:none;
    display: inline-flex;
    
 }

 .icons{
   margin-left: 80px;
   margin-right: 80px;
   justify-items: center;
 }

/*Footer*/
 
 footer {
    font-size: 14px;
    color:#dfe5eb;
 }


/*@media queries*/ 



 @media all and (max-width:1140px) {
    
   
    .card {
        width:fit-content;
        margin: auto;
        padding:0px;
             
        
    }
    
   #projects ul {
        display: block;
        padding:0px;
  
                 
     }
    
    
    .card-content{
        display:block;
        margin:auto;
    }

    #image1{
        width:100%;
        height:auto;
    }
   
 }





@media all and (min-width:1200px) {


/*Navigation*/

.dropdown-content a:hover {
    background-color:#645b5b;
 }

.dropdown:hover .dropdown-content{
    display:flex;
    flex-direction: column;
    position:absolute;
    z-index:1;
    
 }

.dropdown-content a{
    float: none;
    color:#e6a1ac;
    display:block;
 }


/*End of Navigation*/ 

.h1grid{
    z-index:0;
}
							
}
