/*Body*/

body {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: #e6a1ac;
 font-size: 20px;
 text-align: center;
 background-color: #574f4f;
 padding: 0px;
 
}

/*Header*/

header {
    color:#dfe5eb;
    background-color: #3d3b3b;
    height:400px;
    
    
}

.h1grid{
    position:relative;

}

#profilepic {
    width:200px;
    height:220px; 
   
}

/*Navigation*/

.navigation {
    overflow:hidden;
       
 }

 .navigation a {
    float:left;
    color:#e6a1ac;
    padding:12px 15px;
    text-decoration:none;
    
 }


.dropdown {
    float: left;
    overflow: hidden;
 }

.dropdown .dropbtn{
    border: none;
    font-size: inherit;
    padding: 12px 15px;
    background-color: inherit;
    font-family: inherit;
    color:#e6a1ac;
 }

 .navigation a:hover, .dropdown:hover .dropbtn {
    background-color:#645b5b;
 }

.dropdown-content {
    display:none;
      
 }


/*Section - About me*/

#aboutme {
    display:flex;
    flex-direction: column;
    position:relative;
     

}

/*Section:projects*/ 


#projects {
    background-color:#574f4f;
}

.card {
    position:relative;
    width: 100%;
    padding:20px 10px ;
    background-color:#645b5b;
    
}


#projects ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
        
 }

.image {
    display: block;
    width:370px;
    height:250px;
    margin:auto;
    
}

.overlay-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width: 100%;
    opacity:0;
    transition: 0.5s ease;
    background-color:#3d3b3b;
}

.card:hover .overlay-card{
    opacity: 1;
}

.overlay-text {
    color:#e6a1ac;
    position:absolute;
    top:40%;
    left:40%;
    text-align:center;
}

.card-content {
    
    background-color:#645b5b;
    width:100%;
    
}


/*end of Projects*/



 #Resume {
    background-color:#645b5b;
    color:#dfe5eb;
    
 }

 #contact {
    background-color:#645b5b;
    color:#dfe5eb;
     
 
 }
 
 footer {
    font-size: 14px;
    color:#dfe5eb;
 }




 @media all and (max-width:1140px) {
    
   
    .card {
        width:fit-content;
        margin: auto;
        padding:0px;
             
        
    }
    
   #projects ul {
        display: block;
        padding:0px;
  
                 
     }
    
    
    .card-content{
        display:block;
        margin:auto;
    }
   
 }


 @media all and (max-width:500px) {

 }


/*Navigation*/

@media all and (min-width:1200px) {

.h1grid{
    z-index:0;
}


.dropdown-content a:hover {
    background-color:#645b5b;
 }

.dropdown:hover .dropdown-content{
    display:flex;
    flex-direction: column;
    position:absolute;
    z-index:1;
    
 }

.dropdown-content a{
    float: none;
    color:#e6a1ac;
    display:block;
 }


/*End of Navigation*/ 

 }

