/*Root tag*/

:root {
    --pink: #e6a1ac;
    --darkgrey:#3d3b3b;
    --lightgrey:#574f4f;
    --lightergrey:#645b5b;
    --white:#dfe5eb;
}

/*Body*/

body {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: var(--pink);
 font-size: 20px;
 text-align: center;
 background-color:  var(--lightgrey);
 padding: 0px;
 margin: 0px;
 
}

/*Header*/

header {
    color: var(--white);
    background-color: var(--darkgrey);
    height:400px;   
    
}


/*Navigation*/

.navigation {
    overflow:hidden;
       
}

 .navigation a {
    float:left;
    color: var(--pink);
    padding:12px 15px;
    text-decoration:none;
    
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    border: none;
    font-size: inherit;
    background-color: inherit;
    font-family: inherit;
    color: var(--pink);
}

.navigation a:hover, .dropdown:hover .dropbtn {
    background-color:var(--lightergrey);
}

.dropdown-content {
    display:none;
         
}

 /*end of Navigation*/

 /*h1 - Header*/

.headerH1{
    position:relative;

}

/*Profile Image*/

#profilepic {
    width:200px;
    height:220px; 
   
}

/*end of Header*/


/*Section - About me*/

#aboutme {
    display:flex;
    flex-direction: column;
       
}

#aboutme p {
    color: var(--white);
}

/*end of Section About me*/


/*Section:projects*/ 


#projects {
    background-color: var(--lightgrey);
    margin:0px;
}

.featured-project {
    background-color: var(--darkgrey);
}

.card {
    position:relative;
    width: auto;
    padding:20px;
    background-color:var(--lightergrey);
        
}

#projects-ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-left: -40px;        
}


.image {
    width:370px;
    height:250px;
    margin:auto;    
}

.overlay-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width: 100%;
    opacity:0;
    transition: 0.5s ease;
    background-color: var(--darkgrey);
  
}

.card:hover .overlay-card{
    opacity: 0.9;
}

#overlay-text1 {
    color: var(--pink);
    position:absolute;
    top: 48%;
    left: 48%;
    text-align:center;
    font-size: 30px;
    text-decoration: none;
}

.overlay-text {
    color: var(--pink);
    position:absolute;
    top:40%;
    left:35%;
    text-align:center;
    font-size: 30px;
    text-decoration: none;
}

.card-content {
    background-color: var(--darkgrey);
    margin-top: -30px;
    width:auto;
    
}


/*end of Projects*/


/*Section - Contact*/

#contact {
    background-color:var(--lightergrey);
    color: var(--white);
    
}

#contact-name{
    text-align:left;
    padding-top: 30px;
    margin-left: 30px;
        
}

#contact-name a{
    text-decoration: none;  
    color: var(--white);
}

#contact-line{
    height: 0.05rem;
    width:100%;
    background-color: var(--white);
}

.contact-icons{
    list-style:none;
    display: inline-flex;
    
}

.icons{
   margin-left: 80px;
   margin-right: 80px;
   justify-items: center;
}

.icons p:active{
    user-select: all;
    
}

.icons p:hover{
    text-decoration: underline;
    cursor:pointer;
}

/*end of Section Contact*/


/*Footer*/
 
footer {
    font-size: 14px;
    color: var(--white);
}



/*@media queries*/ 


/*@media min-width:1200px*/



@media all and (min-width:1200px) {


/*Navigation bar*/

.dropdown-content a:hover {
    background-color:var(--lightergrey);
 }

.dropdown:hover .dropdown-content{
    display:flex;
    flex-direction: column;
    position:absolute;
    z-index:1;
    
 }

.dropdown-content a{
    float: none;
    color: var(--pink);
    display:block;
 }


/*End of Navigation*/ 

/*Header H1*/
.headerH1{
    z-index:0;
}
							
}

/*end of *@media min-width:1200px*/


/*@media max-width:1600px*/

@media all and (max-width:1600px) {
   
    #projects-ul {
        list-style: none;
        display: flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:space-around;       
     }
    
    #projects li {
        width:35%;
       
    }

    #overlay-text1 {
        top: 46%;
        left: 46%;
       
    }

  }

/*end of @media max-width:1600px*/

/*@media max-width:1200px*/

 @media all and (max-width:1200px) {

    #image1{
        width:100%;
        height:auto;
    }
    #projects li {
        width:auto;
       
    }
    
    .icons{
        margin-left: 18px;
        margin-right: 18px;
        justify-items: center;
      }

    #overlay-text1 {
        top: 43%;
        left: 43%;
       
    }
 }

/* end of @media max-width:1200px*/

/*@media max-width:768px*/
    

 @media all and (max-width:768px) {

    #aboutme {
        margin-top: 50px;      
    }
  
    .icons{
        margin-left: 10px;
        margin-right: 10px;
        justify-items: center;
      }

     #overlay-text1 {
        top: 40%;
        left: 40%;
       
    }
   
 }

/*end of @media max-width:768px*/